*app-cred-*
*.terraform*
*.tfstate*
*.tfstate.backup*
*.tfplan*
*.tfplan.backup*
*.tfplan.backup.backup*
*.tfplan.backup.backup.backup*
*.tfplan.backup.backup.backup.backup*
*.tfplan.backup.backup.backup.backup.backup*
*.tfplan.backup.backup.backup.backup.backup.backup*
*.tfplan.backup.backup.backup.backup.backup.backup.backup*